{% extends 'base.html.twig' %}

{% block title %} HulaHop {% endblock %}

{% block body %}
    <div class="home-page container">
        {% if not app.user %}
            <h1>Bienvenue chez <span>HulaHop</span> !</h1>
        {% else %}
            <h1>Bonjour <span>{{app.user.name}}</span>,</h1>
        {% endif %}
        <p>
            HulaHop est une ludothèque située à Annecy qui vous propose une gamme de jeux de société à emprunter. <br>
            Pour cela, il y a rien de plus simple : demander à emprunter un jeu disponible pour une durée de 30 jours et vous le recevrez directement par la Poste ! <br>
            Partagez de bon moments en famille ou entre amis autour d'une gamme de jeu pour tout âge et de toutes catégories.
        </p>

        <div class="features">
            <div class="home-feature">
                <p>Vous souhaitez trouver vos amis HulaHopien ?</p>
                <a href="{{ path('locate_gamers') }}">HulaHop permet de vous mettre en relation avec d'autres joueurs proches de chez vous !</a>
            </div>

            <div class="home-feature">
                <p>Vous voulez être au courant de bonnes affaires ?</p>
                <a href="{{ path('deals_page') }}"> Le site de HulaHop vous permet de retrouver les meilleures offres de jeux à vendre à petits prix !</a>
            </div>
        </div>



            {% if not app.user %}
        <div class="logs">
            <div class="log-btn signup">
                <a href="{{ path('app_register') }}">S'inscrire</a>
            </div>
            <div class="log-btn login">
                <a href="{{ path('app_login') }}">Se connecter</a>
            </div>
        </div>
        {% else %}
            <div class="logs">
                <div class="log-btn login">
                    <a href="{{ path('showcase_page') }}">Voir la liste des jeux</a>
                </div>
                <div class="log-btn signup">
                    <a href="{{ path('user_borrows') }}">Mes jeux</a>
                </div>
            </div>
        {% endif %}
    </div>


{% endblock %}
