{% extends 'base.html.twig' %}

{% block title %}HulaHop - {{ game.name }}{% endblock %}

{% block body %}
    <div class="content game-details">
        <h1>{{ game.name }}</h1>
        <div class="game-container">
            <div class="left-side">
                <img src="{{ game.imageUrl }}" alt="{{ game.name }}">
            </div>
            <div class="right-side">
                <div class="details">
                    <p class="dispo"><span class="title">État : </span> {% if game.isBorrowed %} <span class="false">Non disponible</span> {% else %}
                            <span class="true">Disponible</span> {% endif %}</p>
                    {% if game.category.parentCategory %}
                    <p class="cat"><span class="title">Categorie :</span> {{ game.category.parentCategory.name }} > {{ game.category.name }}</p>
                    {% else %}
                    <p class="cat"><span class="title">Categorie :</span> {{ game.category.name }}</p>
                    {% endif %}
                    <p class="cat"><span class="title">Âge recommandé :</span> {{ game.recommendedAge }} ans ou +</p>
                    <p class="cat"><span class="title">Temps moyen de partie :</span> {{ game.partyTime }} minutes</p>
                    <h2 class="desc-title">Description</h2>
                    <p class="desc">{{ game.description }}</p>
                </div>
            </div>
        </div>
        {% if app.user and not game.isBorrowed %}
            <hr>
            <p class="before-button">N'hésite plus :</p>
            <div class="button">
                <a href="{{ path("borrow_game", { 'id' : game.id }) }}" class="btn">Emprunter ce jeu</a>
            </div>
        {% endif %}
        <hr>
        <div class="ratings">
            <div class="header">
                <h2>Avis</h2>
                <div class="button">
                    <a href="{{ path("rating_game", { 'id' : game.id}) }}" class="btn">Laisser un avis</a>
                </div>
            </div>
            <div class="rating-list">
                {% for rating in ratings %}
                    <div class="rating-card">
                        <div class="header">
                            <p class="user">{{ rating.user.name }}</p>
                            <p class="grade {% if rating.note >= 4 %}good{% elseif rating.note <= 2 %}bad{% endif %}">{{ rating.note }}/5</p>
                        </div>
                        <h5>Commentaire</h5>
                        <p class="comment">{{ rating.comment|length > 155 ? rating.comment|slice(0, 155) ~ '...' : rating.comment }}</p>

                        <div class="toolbox">
                            {% if is_granted('delete', rating) %}
                                <a href="{{ path('rating_delete', {'id': rating.id }) }}"
                                   class="btn btn-outline-danger">supprimer</a>
                            {% endif %}
                            {% if is_granted('edit', rating) %}
                                <a href="{{ path('rating_edit', {'id': rating.id }) }}" class="btn btn-outline-danger">modifier</a>
                            {% endif %}
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
