{% extends 'base.html.twig' %}

{% block title %}{{game.name}}{% endblock %}

{% block body %}
    <div class="content game-details">
        <h1>{{game.name}}</h1>
        <div class="game-container">
            <div class="left-side">
                <div class="img">
                    <img src="{{game.imageUrl}}" width=300 alt="">
                </div>
            </div>
            <div class="right-side">
                <div class="details">
                    <p class="dispo"><span class="title">État : </span> {% if game.isBorrowed %} <span class="false">Non disponible</span> {% else %} <span class="true">Disponible</span> {% endif %}</p>
                    <p class="cat"><span class="title">Categorie :</span> <a href="#">{{game.category.name}}</a></p>
                    <h2 class="desc-title">Description</h2>
                    <p class="desc">{{game.description}}</p>
                </div>
                {% if app.user and not game.isBorrowed%}
                <div class="borrow">
                    <a href="{{ path("borrow_game", { 'id' : game.id }) }}" class="btn">Emprunter</a>
                </div>
                {% endif %}
                <h2>Notes</h2>
                {% for rating in ratings %}
                    <p>{{ rating.user }}</p>

                    <p>Commentaire : {{ rating.comment }}</p>
                    <p>Note : {{ rating.note }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
