{% extends 'base.html.twig' %}

{% block title %}HulaHop - Contact{% endblock %}

{% block body %}
    <h1>Contact</h1>
    <div class="registration-page">
        {{ form_start(contactForm) }}

        {{ form_row(contactForm.email) }}
        {{ form_row(contactForm.subject) }}
        {{ form_row(contactForm.message) }}
        <button class="btn">Envoyer</button>
        {{ form_end(contactForm) }}
    </div>
{% endblock %}