{% for borrow in borrows %}
    <div class="game game-{{ loop.index }}">
        <div class="img"><a href="{{ path("description_game", { 'id' : borrow.game.id }) }}"><img src="{{ borrow.game.imageUrl }}" alt=""></a></div>
        <a href="{{ path("description_game", { 'id' : borrow.game.id }) }}" class="title"><h2>{{ borrow.game.name }}</h2></a>
        <div class="category">{{ borrow.game.category.name }}</div>
        <p>À rendre avant le {{ borrow.createdAt|date_modify("+35 day")|date("d/m/Y") }}</p>
        <div class="borrow">
            {% if borrow.isReturned == false %}
                <a href="{{ path("return_game", { 'id' : borrow.id }) }}" class="btn">Rendre ce jeu</a>
            {% else %}
                <p>Jeu rendu</p>
            {% endif %}
        </div>
        <style>
            .game-{{ loop.index }}{opacity: 0;animation: fade-in;animation-duration: 1s;animation-delay: .{{ loop.index }}s;animation-fill-mode: forwards;}
        </style>
    </div>
{% else %}
    <p>Vous n'avez jamais emprunté de jeu.</p>
{% endfor %}