<div class="game game-{{ index }}">
    <div class="img"><a href="{{ game.url }}"><img src="{{ game.images.medium }}" alt=""></a></div>
    <a href="{{  game.url }}" class="title">
        <h2>{{ game.name }}</h2>
        <span class="discount">-{{ game.discount * 100 }}%</span>
    </a>
    <div class="prices">
        <p class="last-price">{{ game.msrp }}€</p>
        <p class="new-price">{{ game.price }}€</p>
    </div>
    <style>
        .game-{{ index }}{opacity: 0;animation: fade-in;animation-duration: 1s;animation-delay: .{{ index }}s;animation-fill-mode: forwards;}
    </style>
</div>