{% set currentPath = path(app.request.attributes.get('_route'),
    app.request.attributes.get('_route_params')) %}

<div id="menu" >
    <div class="title">
        <a href="/"><img id="logo" src="{{asset('build/images/hulahop-logo.png')}}" alt="Logo"></a>

        <div class="hamburger" id="hamburger-1">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>
    </div>

    {% if app.user %}
    <div class="logged-user">
        <img src="https://cdn1.iconfinder.com/data/icons/ice-cream-emoticon-sticker/64/ice_cream-21-512.png" alt="">
        <div class="user-infos">
            <p class="font-bold">{{ app.user.name }}</p>
            <a href="{{ path('user_profile') }}"><p class="font-italic">Voir mon profil</p></a>
        </div>

    </div>

    {% endif %}

    <div class="nav-menu">
        <div class="nav-item">
            <div class="btn btn-primary {% if currentPath == path('showcase_page') %} active{% endif %}">
                <a href="{{ path('showcase_page') }}">Liste des jeux <span></span></a>
            </div>
        </div>
        {% if app.user %}
            <div class="nav-item">
                <div class="btn btn-primary {% if currentPath == path('user_borrows') %} active{% endif %}">
                    <a href="{{ path('user_borrows') }}">Mes jeux <span></span></a>
                </div>
            </div>
            <div class="nav-item">
                <div class="btn btn-primary {% if currentPath == path('user_friends') %} active{% endif %}">
                    <a href="{{ path('user_friends') }}">Mes amis <span></span></a>
                </div>
            </div>
        {% endif %}
        <div class="nav-item">
            <div class="btn btn-primary {% if currentPath == path('locate_gamers') %} active{% endif %}">
                <a href="{{ path('locate_gamers') }}">Trouver des joueurs <span></span></a>
            </div>
        </div>
        <div class="nav-item">
            <div class="btn btn-primary {% if currentPath == path('deals_page') %} active{% endif %}">
                <a href="{{ path('deals_page') }}">Bonnes affaires <span></span></a>
            </div>
        </div>
    </div>
    {% if app.user %}
        <div class="log-btn logout">
            <a href="{{ path('app_logout') }}">Se deconnecter</a>
        </div>
    {% else %}
        <div class="log-btn signup">
            <a href="{{ path('app_register') }}">S'inscrire</a>
        </div>
        <div class="log-btn login">
            <a href="{{ path('app_login') }}">Se connecter</a>
        </div>
    {% endif %}
    {% include 'components/footer.html.twig' %}
</div>
