{% extends 'base.html.twig' %}

{% block title %} Profil de {{ user.name }} {% endblock %}

{% block body %}

    <h1>{{ app.user.name }}</h1>
    <img src="{{ app.user.imageUrl }}" width="300" alt="">

    <h2>Email</h2>
    <p>{{ app.user.email }}</p>

    <h2>Adresse</h2>
    <p>{{ app.user.address }} {{ app.user.postalCode }} {{ app.user.city }}</p>

    <h2>Liste d'amis</h2>
    {% for user in app.user.friends %}
    <p>{{ user.imageUrl }}{{ user.name }}</p>

    {% endfor %}

    <div class="content borrow-list-page">
    <h2 class="title">Mes jeux</h2>
    <div class="games-container">
        {% include "components/borrowed_games.html.twig" with {'borrows': app.user.borrows } %}
    </div>
    <a href="#" class="btn">Editer son profil</a>

{% endblock %}